body {
  background-color: black; }
  body #super-wrapper {
    width: 100%; }
    body #super-wrapper #meny-bar {
      position: relative;
      z-index: 10;
      top: 95px;
      width: 690px;
      margin-left: auto;
      margin-right: auto; }
      body #super-wrapper #meny-bar button {
        height: 40px;
        background-color: black;
        border: 0px;
        border-left: 15px solid black;
        border-right: 15px solid black;
        line-height: 15px;
        outline: none;
        font-size: 15px; }
        body #super-wrapper #meny-bar button a {
          list-style: none;
          color: #B8B9BA;
          text-decoration: none; }
      body #super-wrapper #meny-bar button:active {
        height: 40px;
        background-color: white;
        color: black;
        border: 0px;
        border-left: 15px solid white;
        border-right: 15px solid white;
        font-size: 15px;
        line-height: 15px;
        outline: none; }
        body #super-wrapper #meny-bar button:active a {
          list-style: none;
          color: black;
          text-decoration: none; }
    body #super-wrapper #content-wrapper {
      width: 815px;
      margin-left: auto;
      margin-right: auto; }
